*{
    -fx-primarycolor: #6747CD;
    -fx-secondarycolor: #20bf6b;
    -fx-primarytextcolor: #a3a3a3;
/*    -fx-primary-color: #6747CD;
    -fx-secondary-color: #6747CD;
    -fx-primary-text-color: #a3a3a3;*/
}
/*.glyph-icon{
    -fx-fill: -fx-primary-color;
}*/
.parent{
    -fx-background-color: white;
}
.slidebar{
    -fx-background-color: -fx-primarycolor;
}
.forgetBtn{
    -fx-text-fill: -fx-primarytextcolor;
    
}
.forgetBtn:hover{
  -fx-text-fill: -fx-primarycolor;
  -fx-underline: true;
  -fx-cursor: hand;
}
.loginBtn{
    -fx-background-color: -fx-primarycolor;
    -fx-text-fill: -fx-primarytextcolor;
    -fx-background-radius: 3px;
}
.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
    -fx-text-fill: -fx-primarycolor;
    -fx-border-color: -fx-primarycolor;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}
.text-field {
    -fx-prompt-text-fill: -fx-primarytextcolor;
    -fx-text-fill: black;
}
#passIcon{
    -fx-fill: -fx-primarycolor;
}
.label-text{
    -fx-text-fill:-fx-primarycolor;
}
.label-color{
    -fx-text-fill: -fx-primarytextcolor;
}
