/* 
    Created on : Feb 20, 2019, 10:53:07 PM
    Author     : Doan Thanh Nhan
*/

*{
    /*    -fx-primarycolor: #6747CD;
        -fx-secondarycolor: #20bf6b;
        -fx-primarytextcolor: #a3a3a3;*/
    -fx-primarycolor: #2A2E37;
    -fx-secondarycolor: #FFFF8D;
    -fx-primarytextcolor: #B2B2B2;
    -fx-checkoutcolor: #FF2625;
    -fx-availablecolor: #7AA716;
    -fx-reservedcolor: #009FB4;
    -fx-occupiedcolor: #C83F06;
    -fx-fault-color: #FF2625;
}

/*.root{
    -fx-background-color: -fx-primarycolor;
}*/

.glyph-icon{
    -fx-fill: -fx-primarycolor;
}
.parent{
    -fx-background-color: white;

}
.slidebar{
    -fx-background-color: -fx-primarycolor;
}
.forgetBtn{
    -fx-text-fill: -fx-primarytextcolor;

}
.forgetBtn:hover{
    -fx-text-fill: -fx-primarycolor;
    -fx-underline: true;
    -fx-cursor: hand;
}
.loginBtn{
    -fx-background-color: -fx-primarycolor;
    -fx-text-fill: -fx-primarytextcolor;
    -fx-background-radius: 3px;
}
.loginBtn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
    -fx-text-fill: -fx-primarycolor;
    -fx-border-color: -fx-primarycolor;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}
.text-field {
    -fx-prompt-text-fill: -fx-primarytextcolor;
    -fx-text-fill: black;
}

#passIcon{
    -fx-fill: -fx-primarycolor;
}
.label-text{
    -fx-text-fill:-fx-primarycolor;
}
.label-color{
    -fx-text-fill: -fx-primarytextcolor;
}

/*REGISTRATION FORM*/

.jfx-combo-box{
    -jfx-focus-color: -fx-primarycolor; 
    -jfx-unfocus-color: -fx-primarycolor;
    -fx-prompt-text-fill: -fx-primarytextcolor;   
    -fx-font-size : 14px;
    -fx-font-weight: bold;
    /*    -jfx-focus-color: -fx-secondary;
        -fx-text-fill: derive(-fx-secondary, 20%);
        
        -fx-fill: -fx-secondary;*/
}
/*.jfx-combo-box .cell {
    -fx-background-color:  -fx-primary;
    -fx-text-fill: -fx-secondary;    
}*/
.jfx-combo-box-fault{
    -jfx-focus-color: -fx-fault-color; 
    -jfx-unfocus-color: -fx-fault-color;
}
.jfx-date-picker{
    -fx-prompt-text-fill: -fx-primarytextcolor;    
    -fx-font-size : 14px;
    -fx-font-weight: bold;    
}

/*ROOM STATUS FORM*/
.glyph-icon-room-status {
    -fx-fill: -fx-primarytextcolor;
}
.loginBtn:hover .glyph-icon{
    -fx-fill: -fx-primarycolor;
}
.hbox-background-room-status{

}
.boderPane-room-status{
    -fx-border-color: -fx-primarycolor;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(three-pass-box, -fx-primarycolor, 10.0, 0.0, 3.0,  3.0);
    /*-fx-effect: dropshadow(three-pass-box, -fx-primarycolor, 10, 0, 0, 0);*/
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}
.label-roomNumber-room-status{
    -fx-text-fill: -fx-primarycolor;
    -fx-font-size : 14px;
    -fx-font-weight: bold;
}
.label-roomCheckOut-room-status{
    -fx-text-fill: -fx-checkoutcolor;
    -fx-font-size : 14px;
    -fx-font-weight: bold;
}

.label-roomAvailable-room-status{
    -fx-text-fill: -fx-availablecolor;
    -fx-font-size : 14px;
    -fx-font-weight: bold;
}
.label-roomOccupied-room-status{
    -fx-text-fill: -fx-occupiedcolor;
    -fx-font-size : 14px;
    -fx-font-weight: bold;
}
.label-roomReserved-room-status{
    -fx-text-fill: -fx-reservedcolor;
    -fx-font-size : 14px;
    -fx-font-weight: bold;
}
.label-GuestName-room-status{
    -fx-text-fill: -fx-primarycolor;
    -fx-font-size : 18px;
    -fx-font-weight: bold;
}
.label-NotClean-Status{
    -fx-text-fill: -fx-checkoutcolor;
    -fx-font-size : 15px;
    /*-fx-font-weight: regular;*/
}
.glyph-icon-clean-repair-inprogress-status{
    -fx-fill: -fx-checkoutcolor;
}
.label-task-status{
    -fx-text-fill: -fx-primarycolor;
}

/*CHECK OUT FORM*/
.button-checkout{
    -fx-background-color: -fx-primarycolor;
    -fx-text-fill: -fx-primarytextcolor;
    -fx-background-radius: 3px;
}
.button-checkout:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
    -fx-text-fill: -fx-primarycolor;
    -fx-border-color: -fx-primarycolor;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-cursor: hand;
}

.glyph-icon-checkout {
    -fx-fill: -fx-primarytextcolor;
}
.button-checkout:hover .glyph-icon{
    -fx-fill: -fx-primarycolor;
}